@model sampleaspnet.Models.EThorTestEntity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EThorTestEntity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HardProperty)
        </dt>
        <dd class="col-sm-10">
            @if (Model.HardProperty != null)
            {
                @Html.DropDownListFor(m => m.HardProperty, new SelectList(Model.HardProperty[0].Split("|!#$|")))
            }
            else
            {
                @Html.Label("")
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
